<!DOCTYPE html>
<html id="html">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$baseUrl}/css/main.css?{$version}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Třebíč²</title>
</head>

<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a n:href="Homepage:default" class="navbar-item">
            <strong class="logo">Třebíč²</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a n:href="Homepage:default" class="navbar-item">
                Mapa
            </a>
            <a n:href="Homepage:score" class="navbar-item">
                Žebříček
            </a>
            <a n:href="Homepage:playedGames" class="navbar-item">
                Minulá kola
            </a>
            <a n:href="Homepage:rules" class="navbar-item">
                Pravidla
            </a>

        </div>

        <div class="navbar-end">
            <span n:if="$user->isLoggedIn()" class="navbar-item">
                {$user->getIdentity()->name}
            </span>
            <div class="navbar-item">
                <div class="buttons">
                    {if !$user->isLoggedIn()}
                        <a n:href="Homepage:login" class="button is-primary">
                            <strong>Přihlásit</strong>
                        </a>
                        <a n:href="Homepage:register" class="button is-light">
                            Registrace
                        </a>
                    {else}
                        <a n:href="Homepage:logout" class="button is-light">
                            Odhlásit
                        </a>
                    {/if}
                    {if $user->isInRole('admin')}
                        <a n:href="Admin:" class="button is-light">
                            Administrace
                        </a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</nav>

<article n:foreach="$flashes as $flash" class="message is-{$flash->type}">
    <div class="message-body">
        {$flash->message}
    </div>
</article>

{block outside}
{/block}

<section class="section">

    <div class="container">
        {include content}
    </div>
</section>


{block scripts}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    <script src="{$baseUrl}/js/fslightbox.js"></script>
    <script src="{$baseUrl}/js/main.js?{$version}"></script>
{/block}
</body>
</html>
