<a n:href="Homepage:restorePassword, hash => $hash" style="font-size: 200%">ZDE!</a>

<h2>Obnova hesla</h2>
<h4>na stránce <a href="https://trebicsquared.cz">Třebíč²</a></h4>

<p>Pro uživatele s e-mailem <strong>{$email}</strong> bylo požádáno o resetování hesla.</p>

<p>Změnu provedete <a n:href="Homepage:restorePassword, hash => $hash" style="font-size: 200%">ZDE!</a></p>

<p>Tým Třebíč²</p>
